@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Ubuntu:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
}

.navbar{
    display:flex;
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 100%;
    background-color: #df4adf !important;
    display: flex;
    align-items: center; 
}

.logo img{
    width:10%
    /* height: 150px; */
}

.nav-list li{
    list-style: none; 
    padding: 8px 16px;    
}

.nav-list li a{
    text-decoration: none;  
    color: white; 
    font-size: medium;
}

.nav-list li a:hover{
    text-decoration: none;  
    color: rgb(50, 9, 50); 
}

.background{
    background: rgba(0, 0, 0, 0.7) url('images/ra.jpg');
    background-size: cover;
    background-blend-mode:darken;
}

.box-main{
    padding: 34px 0px 0px 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 65%;
    margin:auto;
    height: 75%;
}

.fsec{
    height:100vh;
}

.fhalf{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shalf{
    width:30%;
}

.shalf img{
    width: 70%;
    padding:10px 0px;
}

.heading{
    font-size: 30px;
    color: #892089;
}

.h_info{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 12px;
}

.ndrf{
    display:flex;
    max-width: 80%;
    align-items: center;
    margin: auto;
    justify-content: space-evenly; 
}
.ndrfi img{
    padding:20px 0px 0px;
}

.sdrf{
    display:flex;
    flex-direction: row-reverse;
    max-width: 80%;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
}

.capf{
    display:flex;
    max-width: 80%;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
}

.capfi img{
    padding: 0px 0px 25px 0px;
}

.para{
    padding: 0px 65px;
}

.description{
    font-family: 'Ubuntu', sans-serif;
}

.footer{
    background-color: #df4adf;
    padding: 8px;
}
.ftext{
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width:850px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        background-color: #df4adf !important;
    }
    .burger{
        display: block;
    }
    .navh-res{
        height: 150px;
    }
    .vis-res{
        opacity: 0;

    }
}